<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a class="simple-text logo-normal">
      Company Name
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a *ngIf="menuItem.subMenus == undefined" [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
      <!-- <a href="#ui-basic" *ngIf="menuItem.subMenus && menuItem.subMenus.length > 0">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a> -->
      <ul *ngIf="menuItem.subMenus && menuItem.subMenus.length > 0" class="nav" [id]="'ui-basic'">
        <li *ngFor="let subMenu of menuItem.subMenus" routerLinkActive="active" class="{{menuItem.class}}">
          <a [routerLink]="[subMenu.path]">
            <i class="nc-icon {{subMenu.icon}}"></i>
            <p>{{subMenu.title}}</p>
          </a>
        </li>
      </ul>
    </li> 
  </ul>  
</div>


